* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f0EA;
    color: #798252
}

header {
    padding: 2rem;
    background-color: #331F19;
    text-align: center;
}

main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

h2 {
    color: #331F19;
}

input[type="radio"], input[type="checkbox"] {
    margin-right: 0.3rem;
    accent-color: #CCD595;
}

input[type="text"], input[type="password"], input[type="email"], input[type="date"] {
    width: 100%;
    padding: 0.6rem;
    border: 2px solid #CCD595;
    border-radius: 5px;
    outline: none;
    background-color: transparent;
}

input::placeholder {
    color: #CBBBA7;
}

select {
    cursor: pointer;
    background-color: #CCD595;
    color: black;
    border-radius: 5px;
    border: none;
    outline: none;
}

img {
    width: 5rem;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #CCD595;
    color: black;
    padding: 1rem;
}

td {
    color: #331F19;
    padding: 1rem;
    text-align: center;
}

tfoot td {
    background-color: #331F19;
    color: #F4F0EA;
}

details {
    background-color: #CCD595;
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

summary {
    color: #331F19;
    margin: 0.5rem;
    cursor: pointer;
}

ol {
    margin-left: 1.5rem;
}

ol li {
    padding: 0.2rem;
}

fieldset {
    border: 2px solid #CCD595;
    border-radius: 5px;
    padding: 1rem;
}

legend {
    color: #331F19;
    padding: 0 0.5rem;
}

textarea {
    outline: none;
    border-radius: 5px;
    border: 2px solid #CCD595;
    background-color: transparent;
}

button {
    background-color: #CCD595;
    border: none;
    padding: 0.5rem;
    color: #331F19;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    padding: 2rem;
    text-align: center;
    background-color: #331F19;
}

.paragrafo-footer {
    color: #f4f0EA
}

footer a {
    text-decoration: none;
    color: #CCD595;
}